* {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 50%;
}

#app {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    gap: 2rem;
    margin: auto;
    padding-top: 2rem;
}

.header {
    padding: 10px 10px;
    text-align: center;
    color: black;
  }

/*body {
    background-image: url('https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/14-liverpool-england-skyline-michael-tompsett.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}*/

.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-bg > article {
    height: 33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.modal-bg > article > main {
    flex: auto;
}

.modal-bg > article > footer {
    display: flex;
    justify-content: end;
    padding: 0;
}

.select-button {
    display: grid;
    height: auto;
    width: auto;
    align-items: center;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-auto-rows: auto;
    align-content: center;
    justify-content: center;
}

.select-button {
    border-color: transparent;
    background-color: transparent;
}

article {
    border: solid 1px black;
    border-radius: 2px;
}

article div {
    height: 16rem;
    width: auto;
    background-size: cover;
    background-position: center center;
}

footer {
    text-align: center;
    font-size: 100%;
    color: black;
}

form {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-evenly;
}